<!DOCTYPE html>
<html>
  <head>
    <title>My address book.</title>
  </head>
  <body>
    <h1>You created a contact!</h1>
    <p>
      {{contacts.name}}
      <br>
      {{contacts.streetAddress}}
      <br>
      {{contacts.city}}
      <br>
      {{contacts.state}}
      <br>
      {{contacts.zip}}
      <br>
      {{contacts.phone}}
    </p>
    <a href="/">Enter another address</a>
  </body>
</html>
