<!DOCTYPE html>
<html>
  <head>
    <title>My address book.</title>
  </head>
  <body>
    <h1>A new address!</h1>
    <p>
      {{newaddress.name}}
      <br>
      {{newaddress.streetAddress}}
      <br>
      {{newaddress.city}}
      <br>
      {{newaddress.state}}
      <br>
      {{newaddress.zip}}
    </p>
    <a href="/">Enter another address</a>
  </body>
</html>
